# macOS system files
.DS_Store
.AppleDouble
.LSOverride
.idea
.vscode
.env

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Audio files
*.mp3
*.m4a
*.wav
*.aac
*.ogg
*.flac
*.wma
*.aif
*.aiff

# Project specific
bin/
temp/
error.log
beatportdl-credentials.json
beatportdl-config.yml
downloads/
./beatportdl

# Go specific ignores
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/
